table{
    border-collapse: collapse;
}
td{
    width: 50px;
    height: 50px;
    border: solid black;
}

tr:nth-child(odd) > td:nth-child(even){
    background-color: black;
}
tr:nth-child(even) > td:nth-child(odd){
    background-color: black;
}