
table{
    border-collapse: collapse;
    caption-side: bottom;
    
}
tr:nth-child(odd){
    background-color:whitesmoke;
    border-style: dotted;
    border-collapse: collapse;
    border-width: 2px;
    
}
tr:nth-child(even){
    background-color: rgb(201, 198, 198);
}
tr:first-child{
    background-color: rgb(136, 133, 133);
    color: white
}
td{
    border-style: dotted;
    border-collapse: collapse;
    border-width: 2px;
}
th{
    border-style: dotted;
    border-collapse: collapse;
    border-width: 2px;
    border-color: black;
}
caption{
    text-transform: uppercase;
}
