.main_list{
    width: 350px;
}

.title{
    list-style-type: upper-roman;
}
.nested_list{
    list-style-type: lower-roman ;
}
.code{
    white-space: pre;
    width: 400px;
    background-color: black;
    color: green;
    overflow: auto;
    height: 100px;
}
