body{
    counter-reset: number 65;
}
table{
    border-collapse: collapse;
}

tr:nth-child(odd) > td:nth-child(even){
    background-color: black;
    width: 50px;
    height: 50px;
    border: solid black;
    text-align: center;
    font-size: 30px;
    color: white;
}
tr:nth-child(even) > td:nth-child(odd){
    background-color: black;
    width: 50px;
    height: 50px;
    border: solid black;
    text-align: center;
    font-size: 30px;
    color: white;

}

td{
    width: 50px;
    height: 50px;
    border: solid black;
    text-align: center;
    font-size: 30px;
}

td::before{
    counter-increment: number -1;
    content: counter(number);
}









