p a[href^="https://"]:before{
    content: url(img/extref.png);    
}

p a[href$=".doc"]:after{
    content: url(img/logo-doc.jpg)
}

p a[href$=".pdf"]:after{
    content: url(img/logo-pdf.png)
}

p a[href$=".zip"]:after{
    content: url(img/logo-zip.gif)
}

ul{
    list-style-image: url(img/logo-list.jpg);
}

ul li:first-child a:hover::after{    
    content: url(img/logo-doc.jpg);
}

ul li:nth-of-type(2) a:hover::after{    
    content: url(img/logo-pdf.png);
}

ul li:last-child a:hover::after{    
    content: url(img/logo-zip.gif);
}



