#navigation > ul{
    margin:0px auto 0;
}

#navigation > ul > li{
    list-style: none;
    display: inline-block;
    position:relative;
    padding:0; 

}
 
#navigation a{
    text-decoration:none;
}

#navigation > ul > li > a{
    font-size:15px;
    border: solid black thin;
    border-radius: 3px;
    background-color:rgb(172, 169, 169);
    color: black;
}



#navigation li ul{
    position:absolute;
    list-style:none;
    top:15px;
    font-size:15px;
    left:0;
    margin:0;
    padding:0;
    max-height:0px;
    overflow:hidden;
    -webkit-transition:max-height 0.4s linear;
    -moz-transition:max-height 0.4s linear;
    transition:max-height 0.4s linear;
}

#navigation li:hover ul{
    max-height:300px;
}

#navigation li ul li{
    color:black;
    background-color: rgb(170, 170, 170);
    border-radius: 3px;
    border: solid black thin
}

#navigation li ul li:last-child{
    border-bottom:none;
}

#navigation li ul li a{
    padding: 0px 18px;
    color: black;
    display: block;
}

#navigation li ul li:hover{
    background-color:rgb(156, 156, 156);
}

#navigation li ul li:first-child{
    margin-top:5px;
    position:relative;
}
